@model IdentitySample.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}
    <section class="page-title" style="background-image:url(images/background/5.jpg);">
        <div class="auto-container">
            <div class="inner-box">
                <h1>Đổi mật khẩu</h1>
                <ul class="bread-crumb">
                    <li><a href="index-2.html">Trang chủ</a></li>
                    <li>Tài khoản</li>
                    <li>Đổi mật khẩu</li>
                </ul>
            </div>
        </div>
    </section>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <label class = "col-md-2 control-label" for="OldPassword">Mật khẩu cũ</label>
        <div class="col-md-4">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="NewPassword">Mật khẩu mới</label>

        <div class="col-md-4">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="ConfirmPassword">Nhập lại</label>

        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thay đổi" class="btn btn-primary" />
        </div>
    </div>
}