
@using SchoolManager.Models;
@model SchoolManager.Models.DichVuModel
@{
    ViewBag.Title = "Dịch vụ";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    TruongMamNonEntities db = new TruongMamNonEntities();
}

<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/Content/ckfinder/ckfinder.js"></script>
<div class="block-header">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Dánh sách Dịch vụ</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")"><i class="icon-home"></i></a></li>
                <li class="breadcrumb-item">Quản trị</li>
                <li class="breadcrumb-item active">Dịch vụ</li>
            </ul>
        </div>
    </div>
</div>



<div class="row clearfix">
    <div class="col-lg-12">
        <div class="col-lg-12" id="themdichvu">
            @using (Html.BeginForm("SuaDichVu", "DichVu", FormMethod.Post, new { role = "form", @enctype = "multipart/form-data" }))
            {
                <input type="hidden" value="@Model.Id" name="Id" />
                <div class="card">
                    <div class="header">
                        <div class="form-group w-50">
                            <input type="text" class="form-control" value="@Model.TenDichVu" name="TenDichVu" placeholder="Tên dịch vụ">
                        </div>
                        <div class="form-group w-25">
                            <input type="number" class="form-control" value="@Model.Gia" name="Gia" placeholder="Giá dịch vụ">
                        </div>
                        <div class="form-group">
                            <input type="file" class="form-control-file" name="file" id="file" accept="image/*">
                            <small id="fileHelp" class="form-text text-muted">Chọn ảnh minh họa cho dịch vụ</small>
                        </div>
                        <div class="form-group clearfix">
                            <label class="float-left">Chọn loại dịch vụ</label>
                            <select class="form-control" name="MaLoaiDV" required>
                                @foreach (var item in db.LoaiDVs.ToList())
                                {

                                    if (item.Id == Model.MaLoaiDV)
                                    {
                                        <option selected value="@item.Id">@item.TenLoaiDV</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.TenLoaiDV</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="body">

                        <div>
                            <label for="Des">Mô tả dịch vụ</label>
                            <textarea name="MoTa" id="editor">@Html.Raw(Model.MoTa)</textarea>
                            <input type="submit" value="Sửa dịch vụ" class="m-2 btn btn-danger" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    CKEDITOR.replace('editor', { customConfig: "/Content/ckeditor/config.js" });
</script>