@using Microsoft.AspNet.Identity

<!doctype html>
<html lang="en">


<!-- Mirrored from thememakker.com/templates/lucid/hr/html/light/emp-all.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 18 Aug 2018 15:50:31 GMT -->
<head>
    <title>:: Lucid HR :: Employee List</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="Lucid Bootstrap 4.1.1 Admin Template">
    <meta name="author" content="WrapTheme, design by: ThemeMakker.com">
    <base href="~/Content/LucidHR/light/" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="../assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/color_skins.css">
     <script src="../assets/vendor/font-awesome-4.7.0/354c59023c.js"></script>
    <!-- Javascript -->
    <script src="assets/bundles/libscripts.bundle.js"></script>
    <script src="assets/bundles/vendorscripts.bundle.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../../Date-Time-Picker-Bootstrap-4/build/css/bootstrap-datetimepicker.min.css">
    <script src="../../Date-Time-Picker-Bootstrap-4/build/js/bootstrap-datetimepicker.min.js"></script>

    <script src="assets/bundles/datatablescripts.bundle.js"></script>
    <script src="../../assets/js/sweetalert2@9.js"></script> <!-- SweetAlert Plugin Js -->

    <script src="assets/bundles/mainscripts.bundle.js"></script>
    <script src="assets/js/pages/tables/jquery-datatable.js"></script>
    <script src="assets/js/pages/ui/dialogs.js"></script>
    @*<script src="https://kit.fontawesome.com/a076d05399.js"></script>*@

</head>
<body class="theme-orange">
    <!-- Overlay For Sidebars -->

    <div id="wrapper">

        <div id="left-sidebar" class="sidebar" style="margin-top:0">
            <div class="sidebar-scroll">
                <div class="user-account">
                    @*<img src="../../UserUpload/img/account/@String.Format(User.Identity.GetUserId()+ ".png")" class="rounded-circle user-photo" alt="User Profile Picture">*@
                    <div class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong>@User.Identity.GetUserName()</strong></a>
                        <ul class="dropdown-menu dropdown-menu-right account animated flipInY">
                            <li><a href="@Url.Action("Index", "Manage" )"><i class="icon-user"></i>My Profile</a></li>
                            <li class="divider"></li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-power"></i>Đăng xuất</a></li>
                            }
                        </ul>
                    </div>
                    <hr>
                </div>

                <nav class="sidebar-nav">
                    <ul class="main-menu metismenu">
                        <li><a href="@Url.Action("Index", "Admin" )"><i class="icon-speedometer"></i><span>Tổng quan</span></a></li>
                        @if (Request.IsAuthenticated && User.IsInRole("Quản trị viên"))
                        {
                            <li><a href="@Url.Action("Index", "UsersAdmin" )"><i class="icon-user"></i><span>Tài khoản</span></a></li>
                        }
                        @if (Request.IsAuthenticated && (User.IsInRole("Quản trị viên") || User.IsInRole("Giáo viên")))
                        {
                            <li><a href="@Url.Action("DiemDanhHocSinh", "GiaoVien" )"><i class="icon-calendar"></i>Điểm danh học sinh</a></li>
                        }

                        @if (Request.IsAuthenticated && (User.IsInRole("Quản trị viên") || User.IsInRole("Văn phòng") || User.IsInRole("Giáo viên")))
                        {

                            <li><a href="@Url.Action("HocSinh", "VanPhong" )"><i class="fa fa-graduation-cap"></i>Học sinh</a></li>
                            <li><a href="@Url.Action("LopHoc", "VanPhong" )"><i class="fa fa-institution"></i>Lớp học</a></li>
                        }
                        @if (Request.IsAuthenticated && (User.IsInRole("Quản trị viên") || User.IsInRole("Văn phòng")))
                        {

                            <li><a href="@Url.Action("GiaoVien", "VanPhong" )"><i class="icon-users"></i>Giáo viên</a></li>
                            <li><a href="@Url.Action("DiemDanhGiaoVien", "VanPhong" )"><i class="icon-list"></i>Điểm danh giáo viên</a></li>

                            @*<li><a href="@Url.Action("HocPhi", "VanPhong" )"><i class="fa fa-dollar"></i>Học phí</a></li>*@
                            <li><a href="@Url.Action("Index", "DichVu" )"><i class="fa fa-tags"></i>Dịch vụ</a></li>
                        }
                        @if (Request.IsAuthenticated && (User.IsInRole("Quản trị viên") || User.IsInRole("VanPhong")))
                        {
                            <li><a href="@Url.Action("PhuHuynh", "VanPhong" )"><i class="fa fa-drupal"></i>Phụ huynh</a></li>
                        }

                        @if (Request.IsAuthenticated && (User.IsInRole("Quản trị viên") || User.IsInRole("Dinh dưỡng")))
                        {
                            <li><a href="@Url.Action("Index", "DinhDuong" )"><i class="fa fa-coffee"></i>Thực đơn</a></li>
                        }
                    </ul>
                </nav>

            </div>
        </div>

        <div id="main-content" style="margin-top:0">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>

    </div>

    <!-- Default Size -->




</body>

</html>
